
@model do_an_nhom_15.Models.ViewModel
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(/datahome/images/bg_3.jpg);"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Cart</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index">Home</a></span> <span>Cart</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th> 
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal sumtotal = 0;
                            }
                            @if (Model.CartList != null)
                            {
                                @foreach (var item in Model.CartList)
                                {
                                    var discount = item.Product.Discount ?? 0;
                                    var discountPrice = item.Product.Price - (item.Product.Price * discount / 100);
                                    var total = discountPrice * item.Quantity;
                                    var showDiscount = (item.Product.Price * discount / 100) * item.Quantity;
                                    sumtotal += total;
                                    <tr class="text-center">
                                        <form asp-action="Delete" asp-route-id="@item.CartId" method="post"
                                            onsubmit="return confirm('Are you sure you want to delete this product?');">
                                            <td class="product-remove">
                                                <button type="submit" class="btn btn-danger p-3 mb-3">
                                                    <span class="icon-close" style="font-size: 24px;"></span>
                                                </button>
                                            </td>
                                        </form>
                                        <td class="image-prod">
                                            <div class="img" style="background-image:url(@item.Product.ImageUrl);"></div>
                                        </td>
                                        <td class="product-name">
                                            <h3>@item.Product.Name</h3>
                                            @* <p>@item.Product.Description</p> *@
                                        </td>
                                        <td class="price">$@item.Product.Price</td>
                                        <td class="text-white">@((int)discount)%</td>
                                        <td class="quantity">
                                            <div class="input-group mb-3">
                                                <input type="text" name="quantity" class="quantity form-control input-number"
                                                    value="@item.Quantity" min="1" max="100">
                                            </div>
                                        </td>

                                        <td class="total">$@((float)total) - @((float)showDiscount)</td>
                                    </tr>
                                }
                            }
                            <!-- END TR-->


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <!--
                    <p class="d-flex">
                    <span>Subtotal</span>
                    <span>$</span>
                    </p>
                    <p class="d-flex">
                    <span>Discount</span>
                    <span>$3.00</span>
                    </p>
                    -->
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span>$5.00</span>
                    </p>
                    <hr>
                    @{
                        sumtotal += 5;
                    }
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>$@((float)sumtotal)</span>
                    </p>
                </div>
                <p class="text-center"><a href="/home/checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Related products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
            </div>
        </div>
        @if (Model.ProductList != null)
        {
            <div class="row justify-content-center">
                @foreach (var item in Model.ProductList.Take(4))
                {
                    string sUrl = $"/product/{item.Name}-{item.ProductId}.html";

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a href="@sUrl" class=" shadow-sm text-decoration-none">
                            <div class="menu-entry">
                                <img src="@item.ImageUrl" class="card-img-top"
                                    style="height: 200px; width: 100%; border-radius: 8px;" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-white">@item.Name</h5>
                                    @* <p class="card-text text-white small">@item.Description</p> *@   
                                    <p class="price text-white font-weight-bold"><span>$@item.Price</span></p>
                                </div>
                            </div>
                        </a>
                        <div class="d-flex justify-content-center mt-2">
                            <a href="#" class="btn btn-sm btn-primary">Add to Cart</a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>