@model do_an_nhom_15.Models.ViewModel
@if (Model.ProductList != null)
{
    <div class="container mt-4 bg-secondary rounded-3 pb-4">
        <h2 class="text-center mb-4 pt-4">Product Management</h2>
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
            <a asp-action="Add" class="btn btn-primary">Add New Product</a>
            <form asp-action="Index" method="get">
                <input type="search" name="searchTerm" class="form-control text-white border-0" placeholder="Search">
            </form>
        </div>

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Actions</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.ProductList)
                {
                    <tr class="table-dark">
                        <td>@product.ProductId</td>
                        <td>@product.Name</td>
                        <td><img src="@product.ImageUrl" class="rounded-3" style="width:100px;height:100px" alt="Alternate Text" /></td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@((int?)product.Discount)%</td>
                        <td>@product.Stock</td>
                        <td width="125px">
                            <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-sm btn-warning">Edit</a>
                            <form asp-action="Remove" asp-route-id="@product.ProductId" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this product?');">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
